<footer style="height:50px;background-color:#FCFCFC;font-family: Poppins, Helvetica, sans-serif;    font-size: 15px;text-align:right;padding:10px;     color: #181C32;  ">
    <span>2023© Şeyma Altıok</span>
</footer>
