@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Identity
@using ProjeBandrol.Data
@using ProjeBandrol.Models
@inject             SignInManager<AppUser> SignInManager
@inject             UserManager<AppUser> userManager

@{
    var user = await userManager.GetUserAsync(User);
}


    
@if (SignInManager.IsSignedIn(User))
{
    <ul class="menu-nav" style="text-align:right; margin-top:10px;">
        <li class="menu-nav-el" style="text-align:right;list-style-type:none">
                <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="background-color:#282F48; color:white; border-radius:3px; ">@user.Ad.ToUpper() @user.Soyad.ToUpper()</a>
            </li>

        <li class="menu-nav-el" data-menu-toggle="click" aria-haspopup="true" style="text-align:right;list-style-type:none">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" style="color:#282F48;">
                    <button id="logout" type="submit" class="nav-link btn btn-link " style="background-color:#282F48; color:white;">Çıkış Yap</button>
                </form>
            </li>

        </ul>
  
}
else
{
        <ul class="menu-nav">

        <li class="nav-item menu-nav-el" style="text-align:right;list-style-type:none">
                <a class="nav-link " id="login" asp-area="Identity" asp-page="/Account/Login" style="background-color:#282F48; color:white; border-radius:3px;">Giriş Yap</a>
            </li>
        </ul>

}
